# Core Libraries
numpy
pandas
scikit-learn
torch

# PyTorch Geometric (for GNNs)
# Installation can be tricky. It's best to follow official instructions for your specific CUDA version if using GPU.
# See: https://pytorch-geometric.readthedocs.io/en/latest/install/installation.html
# For CPU-only, the following might work, but verify with official docs:
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric

# Optional for data exploration & visualization (if using the notebook)
matplotlib
seaborn
plotly

# For Tikhonov regularization (sparse matrices)
scipy

# For Graph visualisation
networkx

# Others
python-louvain
